<h2>Please enter your username<h2>
<form id="sign-in" action="/sessions" method="post">
  <label>Username</label><input type="text" name="username" value="<%= params[:username] %>">
  <label>Password</label><input type="password" name="password">
  <input type="submit" value="Sign in">
</form>
<a href="/users/password/reset">
  Forgotten your password?
</a>
