<h2 class="form-title">Please enter your username</h2>
<form id="sign-in" action="/sessions" method="post">
  <label>Username</label><input type="text" name="username" value="<%= params[:username] %>"><br />
  <label>Password</label><input type="password" name="password"><br />
  <input type="submit" value="Sign in">
</form>
<a href="/users/password/reset" class="button">
  Forgotten your password?
</a>
