<h2 class="form-title">Please enter your details</h2>
<form id="new-user" action="/users/create" method="post">
  <label>Username</label><input type="text" name="username"><br />
  <label>Email</label><input type="email" name="email"><br />
  <label>First Name</label><input type="text" name="first_name"><br />
  <label>Last Name</label><input type="text" name="last_name"><br />
  <label>Password</label><input type="password" name="password"><br />
  <label>Password Confirmation</label><input type="password" name="password_confirmation"><br />
  <input type="submit" value="Register">
</form>
