<h2>Please enter your new password</h2>
<form id="new-user" action="/users/password/new" method="post">
  <label>Username</label><input type="text" name="username">
  <label>New Password</label><input type="password" name="password">
  <label>Confirm New Password</label><input type="password" name="password_confirmation">
  <input type="submit" value="Update Password">
</form>
