<h2>Please enter your username<h2>
  <form id="reset-password" action="/users/password/reset" method="post">
    <label>Username</label><input type="text" name="username">
    <input type="submit" value="Reset">
  </form>
