<% if current_user %>
  <form action="/peep" method="post" id="post-compose">
    <input type="text" maxlength="140" name="post_text">
    <input type="submit" value="Peep" name="Peep">
  </form>
<% end %>
<% if @posts %>
  <h2 class="peep-header">
    Recent Peeps
  </h2>
  <% @posts.each do |post| %>
    <article class="peep">
      <aside class="author-details">
        <% @author = User.first(id: post.user_id) %>
        <%= @author.username  %> at <%= post.time.strftime "%H:%M"  %>
      </aside>
      <p>
        <%= post.text %>
      </p>
    </article>
  <% end %>
<% end %>
