<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <title>
    Chitter
  </title>
</head>
<body>
  <header>
    <h1 id="site-name">
      Chitter
    </h1>
    <% unless current_user %>
      <nav id="user-menu">
        <a href="/users/new">
          Sign up
        </a>
        <a href="/sessions/new">
          Sign in
        </a>
      </nav>
    <% end %>
  </header>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>
  <%= yield %>
</body>
</html>
